<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">
        <img src="https://via.placeholder.com/50">
      </a>
      <ul class="left">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
</header>