<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Daily Planet</title>

  <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <% include ./partials/header.ejs %> 

  <div class="container">
    <h1 class="header center">Daily Planet</h1>
    <div class="row">
      <div class="col-12 center">

        <%- body %>

      </div>
    </div>
  </div>

  <% include ./partials/footer.ejs %> 


  <script src="/js/materialize.min.js"></script>
</body>
</html>